.main-container {
    display: flex;
    margin-bottom: 10vh;
}

.additional-container {
    margin-right: 15vh;
}

.content-container {
    min-height: 60vh;
    max-height: 70vh;
    min-width: 60vh;
    max-width: 70vh;
    border: 5px solid;
    border-image: linear-gradient(to right, green, #138a49) 1;
    padding: 10px;
    overflow: auto;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-container .head-container {
    width: 100%;
    border: 4px solid;
    border-image: linear-gradient(to right, #c7dcc7, #769488) 1;
    margin-bottom: 2vh;
}

.content-container .middle-container {
    border: 4px solid;
    overflow: auto;
    margin-bottom: 1vh;
    width: 100%;
    border-image: linear-gradient(to right, #c7dcc7, #769488) 1;
}

.content-container .bottom-container {
    width: 100%;
    border: 4px solid;
    border-image: linear-gradient(to right, #c7dcc7, #769488) 1;
}